@media screen and (min-width: 480px) {
    .filter-list__flex {
        // flex-wrap: wrap;
            // width: 396px;
            margin-top: 60px;
            row-gap: 15px;
    }
    .project-list__flex {
        display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 94px;
    }
}
@media screen and (min-width: 768px) {

    .projects-list__item {
            width: 354px;
    }
.project-list__flex {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 94px;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .projects-list__item {
        width: 370px;
        flex-basis: calc((100% - 120px) / 3);
    }
        .project-list__flex {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            padding-bottom: 94px;
            justify-content: center;
        }
}
.filters-list__item {
    margin-right: 8px;

}
.filter-list__flex {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

/* наши проекти */
.projects-title {
    color: $main-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08px;
}

.projects-text {
    color: $add-color;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
    padding-bottom: 20px;
}

.project-list__flex {
display: flex;
    // flex-direction: column;
    gap: 30px;
    padding-bottom: 94px;
}

.project-list-card {
    padding-top: 20px;
    padding-left: 24px;
    border: 1px solid #EEE;
    background: $white;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-img {
    width: 100%;
}

.projects-list__item {
    border: 1px solid #eee;
    // flex-basis: calc(100% / 3 - 30px);
}
.projects-list__item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay:hover .overlay-title {
    transform: translateY(0%);
}

.overlay-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: #fff;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 23px;
    transform: translateY(100%);
    transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
}